body {
    font-family: "Arial", sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    width: 90%;
    max-width: 31.25em;
    background: white;
    padding: 1.25em;
    border-radius: 0.5em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

input,
select,
textarea {
    width: 30%;
    padding: 0;
    margin-top: 0%;
    margin-bottom: 0;
    border: 1px solid #ddd;
    border-radius: 0.25em;
}

/* style for the button */
button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #7ad778;
    color: rgb(9, 9, 9);
    border: 1px solid #000000;
    border-radius: 5px;
    cursor: pointer;
}

/* Error Message Styles */
.error-message {
    color: red;
    font-size: 0.875em;
    display: none;
}

/* Mobile Responsiveness */
@media (max-width: 600px) {
    form {
        padding: 10px;
    }

    h1 {
        font-size: 1.5em;
    }
}